#header {
  width: 1220px;
  height: 80px;
  margin: 0 auto; }

#header .logo {
  float: left;
  height: 88px;
  width: 40px; }

#header .logo a {
  display: block;
  margin: 20px;
  margin-left: 36px; }

#header .logo a img {
  display: block;
  height: 40px;
  width: 88px; }

#header .nav {
  float: left;
  padding-top: 20px;
  margin-left: 160px; }

#header .nav ul {
  list-style: none;
  display: flex;
  height: 40px;
  width: 456px; }

#header .nav ul li {
  float: left;
  width: 92px; }

#header .nav ul li a {
  display: block;
  font: 16px/40px "";
  color: #5e5e5e; }

#header .msg {
  display: none;
  float: right;
  margin-right: 30px; }

#header .msg a {
  display: inline-block;
  margin: 30px 10px;
  background: #ccc;
  font: 16px/30px "";
  text-align: center;
  width: 50px;
  height: 30px;
  border-radius: 8px; }

#cont {
  width: 1200px;
  border: solid 1px black;
  margin: 20px auto;
  overflow: hidden; }

#cont .box {
  width: 300px;
  height: 400px;
  float: left;
  border: solid 1px black;
  box-sizing: border-box;
  text-align: center; }

.box i {
  display: none; }

.box img {
  width: 250px;
  height: 270px; }

.box p {
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  margin: 10px 0; }

.box em {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
  display: block;
  font-style: normal;
  background: #ccc;
  color: #FFF; }

.box a {
  display: block;
  width: 100px;
  height: 30px;
  background: #ccc;
  color: #333;
  border-radius: 6px;
  float: right;
  margin-right: 20px;
  font: 14px/30px;
  line-height: 30px;
  margin-top: 20px;
  cursor: pointer; }

#footer {
  width: 100%;
  height: 300px;
  background: #f0f0f0;
  margin-top: 30px; }

#footer .footer_t {
  padding-top: 40px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  margin-bottom: 34px; }

#footer .footer_t ul {
  list-style: none;
  display: flex;
  justify-content: space-around; }

#footer .footer_t ul li {
  padding-left: 82px;
  position: relative;
  float: left;
  width: 300px; }

#footer .footer_t ul li a {
  display: block;
  color: #333; }

#footer .footer_t ul li a i {
  display: inline-block;
  position: absolute;
  left: 30px;
  width: 50px;
  height: 50px;
  /* background: red; */
  background: url(../images/foot3.jpg) no-repeat;
  background-size: 50px 50px; }

#footer .footer_t ul li a span {
  color: #333;
  font-size: 24px;
  line-height: 24px; }

#footer .footer_t ul li a p {
  color: #999;
  font-size: 16px;
  line-height: 24px; }

#footer .footer_l {
  width: 220px;
  height: 160px;
  margin-left: 30px; }

#footer .footer_l a {
  display: inline-block;
  margin-left: 20px; }

#footer .footer_l span {
  display: block;
  margin-top: 50px;
  float: left;
  font: 12px/24px "";
  margin-left: 20px; }

#footer .footer_l p {
  font: 12px/24px "";
  margin-left: 20px; }

#footer .footer_r {
  /* display: inline-block; */
  position: relative;
  font: 12px/24px ""; }

#footer .footer_r .about {
  float: left;
  width: 150px;
  position: absolute;
  left: 500px;
  top: -130px; }

#footer .footer_r .about span {
  font-size: 18px;
  color: #333;
  display: inline-block;
  margin-bottom: 20px; }

#footer .footer_r .about ul {
  list-style: none; }

#footer .footer_r .about ul li {
  height: 24px;
  line-height: 24px;
  cursor: pointer; }

#footer ul li a {
  display: block;
  color: #333; }

/*  */
#footer .footer_r .help {
  float: left;
  width: 150px;
  position: absolute;
  left: 650px;
  top: -130px; }

#footer .footer_r .help span {
  font-size: 18px;
  color: #333;
  display: inline-block;
  margin-bottom: 20px; }

#footer .footer_r .help ul {
  list-style: none; }

#footer .footer_r .help ul li {
  height: 24px;
  line-height: 24px;
  cursor: pointer; }

/*  */
#footer .footer_r .send {
  float: left;
  width: 150px;
  position: absolute;
  left: 800px;
  top: -130px; }

#footer .footer_r .send span {
  font-size: 18px;
  color: #333;
  display: inline-block;
  margin-bottom: 20px; }

#footer .footer_r .send ul {
  list-style: none; }

#footer .footer_r .send ul li {
  height: 24px;
  line-height: 24px;
  cursor: pointer; }

/*  */
#footer .footer_r .sale {
  float: left;
  width: 150px;
  position: absolute;
  left: 950px;
  top: -130px; }

#footer .footer_r .sale span {
  font-size: 18px;
  color: #333;
  display: inline-block;
  margin-bottom: 20px; }

#footer .footer_r .sale ul {
  list-style: none; }

#footer .footer_r .sale ul li {
  height: 24px;
  line-height: 24px;
  cursor: pointer; }

#footer .footer_r .ma {
  position: absolute;
  float: left;
  width: 130px;
  height: 130px;
  position: absolute;
  left: 1100px;
  top: -140px; }

#footer .footer_r p {
  position: absolute;
  width: 130px;
  height: 24px;
  position: absolute;
  /* left:1100px; */
  top: -20px;
  text-indent: 30px; }

/*# sourceMappingURL=list.css.map */
