@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}/*去除空隙*/
li{list-style:none;}/*去除列表符号*/
a{text-decoration:none;}/*去除下划线*/


/*溢出隐藏出现省略号*/
.over{
	white-space:nowrap;/*强制不换行*/
	overflow:hidden;/*溢出隐藏*/
	text-overflow:ellipsis;/*溢出隐藏时出现省略号*/
}

/*图片垂直对齐*/
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign:after{content:"";display:inline-block;height:100%;vertical-align:middle;}

.clear{zoom:1;/*解决ie清除浮动*/}
.clear:before{content:"";display:table;}/*第一个子元素margin-top向上传递问题*/
.clear:after{content:"";clear:both;display:block;}/*清除浮动*/
